/* common shared styles */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Lato", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

/* header section started */
.header {
  background-color: rgba(229, 84, 115, 0.1);
}

.banner {
  padding: 50px 240px 0px;
  display: flex;
  align-items: center;
}

.banner-content {
  max-width: 708px;
  margin-right: 40px;
}

#banner-img{
  width: 635px;
  height: 800px;
}
.banner-greeting {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 32px;
  width: 600px;
}

.banner-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
